.about {
  padding-top: 4rem;

  &__bio {
    padding-top: 3rem;
    width: 100%;
    text-align: center;

    .text-secondary {
      padding-bottom: 1rem;
    }

    p {
      margin-bottom: 2rem;
    }
  }
}
